# Auto detect text files and perform LF normalization

*.css linguist-detectable=false
*.js linguist-detectable=false
*.java linguist-detectable=true
*.xml linguist-detectable= dart
*.dart linguist-detectable=true
*.json linguist-detectable= dart


